.results_container {
  display: grid;
  grid-template-columns: 10% 90%;
}

.left {
  border-right: 1px solid #ccc;
}

.right {
  background-color:#F1F1EF;
}

.chart_container {
  // width: 1000px;
  min-height: 500px;
}

.chart_container {
  height: 500px;
  margin-bottom: 50px;
}

// .heat_map_container {
//   width: 100%;
//   min-height: 500px;
//   // height: 300px;
// }

.test {
  width: 100%;
  // min-height: 500px;
}

.chart_group_one {
  display: grid;
  grid-template-columns: 50% 50%;
}

.chart_group_two {
  display: grid;
  grid-template-columns: 40% 60%;
  @media only screen and (max-width: 1400px)  {
    display: flex;
    flex-direction: column;
    // width: 90%;
  }
}
.test {
  margin-bottom: 100px;
  margin-top: 20px;
  z-index: 1000;
}

.loading_home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & .loader_container {
    width: 10%;
    margin: 150px auto;
  }
}